<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">

          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>


<% if user_has_posts(@user) %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <small><%= @user.name %> has not been very active :/ No posts yet.</small><br>
<% end %>
<% if user_has_comments(@user) %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <small><%= @user.name %> must fear, because there are no comments here.</small>
<% end %>

<h2>Favorites</h2>
<% @user.favorites.each do |favorite| %>
  <% post = Post.find(favorite.post_id) %>
  <div class="media">
    <br />
    <div class="media-body">
      <h3 class="media-heading">
        <%= link_to post.title, topic_post_path(post.topic, post) %>
      </h3>
      <small>
        <%= post.votes.count %> Votes
      </small>
      <small>
        <%= post.comments.count %> Comments
      </small>
    </div>
  </div>
<% end %>
